# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#GENERAL CREDENTIALS#

PORT=3000
AUTH_SECRET=e5a1496467149e9cb42ca74d23bd495e

#MAILGUN CREDENTIALS#

SMTP_USER=
SMTP_PASSWORD=
SMTP_NAME=
SMTP_HOST=
SMTP_PORT=465
SMTP_SECURE=true

#DEVELOPMENT CREDENTIALS#

PANEL_URL= http://localhost:3000
API_URL= http://localhost:3000

DATABASE_URL="mysql://root:example@localhost:3306/template"

#PRODUCTION CREDENTIALS#

#BASE_URL=
#API_URL=

# DATABASE_URL="mysql://johndoe:randompassword@localhost:5432/mydb?schema=public"

